.btn-container{
    position: fixed;
    bottom: 20px;
    
    width: 90px;


    
        @media (max-width: 768px) {
            left: 80%;        }
        @media (min-width: 768px) {
            left: 87%;        }
        @media (min-width: 1240px) {
            left: 93%;        }
    
       
}

.scroll-up-btn {
    border: none;
    background-color: transparent;
    transition: sticky 0.3s ease;
    cursor: pointer;
    
}

.scroll-btn {
    border: none;
    background-color: transparent;
    transition: sticky 0.3s ease;
    cursor: pointer;
    
}

.scroll-btn:hover, .scroll-up-btn:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}
