// colors

$body-bg-color: rgb(117, 147, 255);
$search-form-bg-color: rgb(95, 130, 255);
$box-shadow-color: #8da3f2;
$primary-white: #fff;
$input-cover-color: #7593ff;
$placeholder-text-color: #becbfd;
$btn-bg-color:#94a9f4;
$btn-hover-bg-color: #7593ff;
$btn-hover-box-shadow-color: #6887f8;
$label-text-color: #e0e6ff;


